In [11]:
import pandas as pd
import numpy as np
import cv2

In [12]:
import os

In [16]:
os.getcwd()

'D:\\images data\\dataset'

In [14]:
os.chdir(r"D:\images data\dataset")

In [15]:
os.listdir()

['Beagle',
 'Boxer',
 'Bulldog',
 'Dachshund',
 'German_Shepherd',
 'Golden_Retriever',
 'Labrador_Retriever',
 'Poodle',
 'Rottweiler',
 'Yorkshire_Terrier']

In [6]:
file = os.getcwd()

In [7]:
file

'D:\\images data\\dataset'

In [37]:
os.chdir(r"D:\images data\dataset")
pic = []
breed = []
file = os.getcwd()
for i in os.listdir():
    
    path = file+"\\"+i
#     print(path)
    os.chdir(path)
#     print(os.getcwd())
    for j in os.listdir():
        
        arr = cv2.imread(j)

        
        if arr is not None:
            resized = cv2.resize(arr, (128, 128))
            data = resized.flatten()
            pic.append(data)
            breed.append(i)
#         
#

In [36]:
os.getcwd()

'D:\\images data\\dataset\\Yorkshire_Terrier'

In [17]:
os.getcwd()

'D:\\images data\\dataset'

In [18]:
os.listdir()

['Beagle',
 'Boxer',
 'Bulldog',
 'Dachshund',
 'German_Shepherd',
 'Golden_Retriever',
 'Labrador_Retriever',
 'Poodle',
 'Rottweiler',
 'Yorkshire_Terrier']

In [38]:
"D:\images data\dataset\Beagle"

'D:\\images data\\dataset\\Beagle'

In [39]:
df1 =pd.DataFrame(breed,columns=["Breed"])

In [40]:
pd.DataFrame(pic)

,0,1,2,3,4,5,6,7,8,9,...,49142,49143,49144,49145,49146,49147,49148,49149,49150,49151
0,0,1,0,0,3,1,3,8,6,9,...,146,108,121,143,108,121,143,109,122,144
1,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255
2,201,178,186,197,180,187,175,167,172,135,...,173,146,156,170,145,153,165,145,152,161
3,221,215,220,223,217,222,226,219,223,229,...,92,56,99,86,49,95,84,43,92,84
4,148,154,159,147,153,158,150,156,161,158,...,132,131,136,134,130,135,133,128,133,131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,31,17,19,30,16,18,29,15,18,28,...,196,213,205,195,212,203,194,212,203,193
963,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255
964,75,73,95,74,74,94,71,73,90,67,...,87,61,160,91,57,159,96,48,154,94
965,33,70,60,33,70,60,34,71,61,34,...,60,36,70,60,36,70,60,36,70,60
966,56,100,94,52,95,88,44,88,81,40,...,47,88,59,47,87,57,42,89,59,40

In [11]:
df2 = pd.DataFrame(pic)

In [13]:
df = pd.concat([df1,df2],axis=1)

In [14]:
df.to_csv("final.csv")

## Model building

In [13]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [14]:
df = pd.read_csv("final.csv")

In [15]:
X = df.drop("Breed",axis=1)
y = df["Breed"]

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=22)

In [17]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_train,y_train)
y_pred = dt.predict(X_test)
accuracy_score(y_pred,y_test)

0.9948453608247423

In [18]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)
accuracy_score(y_pred,y_test)

0.788659793814433

## pickling

In [19]:
#import pickle

In [20]:
# dumping the pickle file
pickle.dump(dt,open(r"D:\images data\dataset\dt_model.plk",'wb'))

In [41]:
import sklearn
print(sklearn.__version__)

1.5.1

In [42]:
import numpy
print(numpy.__version__)

1.24.3

In [43]:
import pandas
print(pandas.__version__)

2.2.2